html{
    position: relative;
    min-height: 100%;
}

body{
    background-image: url("../images/concrete.png");
    padding-bottom: 7%;
}

.main-content{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 2%;
    margin-top: 2%;
}

.navigation{
    margin-top: 2%;
    margin-bottom: 7%;
}

.conn-img:hover{
    border: 1px solid #664AC1;
    padding: .5%;
    text-decoration: none;
}

.conn-img{
    width: 30%;
    height: auto;
    margin: 1%;
}

#mypic{
    width: 40%;
    height:auto;
    float: left;
    margin: 2%;
}

p.about-text{
    font-size: 18px;
    margin: 2%;
}

.imagediv{
    position: relative;
    width: 45%;
    display: inline-block;
    margin: 2%;
}

.port-image{
    height: auto;
    width: 100%;
}

.imagediv:hover{
    opacity: .5;
}

.imagediv:hover .labelbox{
    font-size: xx-large;
    padding-top: .25em;
    height: 25%;
    background-color: #664AC1;
}

.labelbox{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 50%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-top: .5em;
    font-size: x-large;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #C8D7E3;
    color: #2F4E6F;
    text-align: center;
    padding-top: 1em;
;
}