html, body{
    height: 100%;
}

.wrap{
    min-height: 100%;
}

body{
    background-image: url("../images/graphy.png");
    padding-bottom: 7%;
    color: #333333;
}

.navbar{
    background-color: transparent;
}

#nav-name{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #664AC1;
    margin-left: 0;
    margin-top: 5%;
}

.navlinks{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: #664AC1;
}

.conn-links{
    margin-top: 3%;
    display: flex;
    justify-content:center;
    overflow: auto;
    padding-bottom: 64px;
}

.conn-img{
    width: 60px;
    height:auto;
}

.main-content{
    background-color: transparent;
    border: 1px solid #333333;
    padding: 2%;
    margin-top: 2%;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: center;

}

h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0;
    text-align: left;
}

#mypic{
    width: 40%;
    height:auto;
    float: left;
    padding: 1%;
    margin: 2% 2% 2% 0%;
    border: 2px solid #333333;
}

.form-group{
    text-align: left;
}

p.about-text{
    margin: 3%;
    text-align: left;
}

.btn-primary{
    background-color: transparent;
    color: #333333;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    border: 1px solid #333333;
}

.imagediv{
    display: inline-block;
    float: none;
    width: auto;
    padding: 3%;
    max-width:100%;
    margin: auto;
    text-align: left;
}

.imagediv:hover .port-image{
    opacity: .5;
}

.port-image{
    border: 1px solid #333333;
    width: 100%;
}

footer{
    position: relative;
    margin-top: -64px;
    clear: both;
    width: 100%;
    height: 60px;
    background-color: #C8D7E3;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    color: #2F4E6F;
    text-align: center;
    padding-top: .6em;
}